[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "*"
cadcad = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"

[requires]
python_version = "3.8"
